ion-menu-button {
    font-size: 2.5rem;
}

ion-icon {
    font-size: 2rem;
}

ion-buttons {
    padding-right: 5%;
    padding-left: 5%;
}

.cont {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

ion-item {
    font-size: 1.8rem;
    padding: 3%;
    height: auto;
    box-shadow: none;
}

ion-label {
    font-size: 1.5rem !important;
}

.saludo {
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img:first-child {
    width: 40%;
    height: 150px;
    border-radius: 35%;
    border: #148289 solid 2px;
}

.maincont {
    display: flex;
    flex-direction: column;
}

div.acciones {
    padding-bottom: 10%;
    padding-top: 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.6rem;
    padding-top: 8px;
    padding-right: 10px;
}

img {
    width: 40%;
    height: 150px;
    border-radius: 20%;
    border: #148289 solid 2px;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}