<ion-header>
    <ion-toolbar style="background-color: #0F0D0D;">
        <ion-buttons slot="start">
            <ion-button [routerLink]="[ '/folder/:id' ]">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="maincont">
        <div class="saludo">

            <img src="../../assets/img/registro.jpg" alt="logo">
            <h1>Registros</h1>
        </div>
        <br>
        <h2>Visitas</h2>
        <div class="acciones">
            <ion-list>
                <ion-item>
                    <ion-label>Juan</ion-label>
                    <img src="../../assets/img/qr1.png" alt="QR">
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Juan</ion-label>
                    <img src="../../assets/img/qr1.png" alt="QR">
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Juan</ion-label>
                    <img src="../../assets/img/qr1.png" alt="QR">
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Juan</ion-label>
                    <img src="../../assets/img/qr1.png" alt="QR">
                </ion-item>
            </ion-list>
        </div>
    </div>


</ion-content>

<ion-footer class="ion-no-border">

    <p><u>TOP-HOUSE</u></p>

</ion-footer>