<ion-header>
    <ion-toolbar style="background-color: #0F0D0D;">
        <ion-buttons slot="start">
            <ion-button [routerLink]="[ '/admin-home' ]">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="maincont">
        <div class="saludo">

            <img src="../../assets/img/usuario.jpg" alt="logo">
            <h1>Usuarios</h1>
        </div>
        <br>
        <div class="acciones">
            <div>
                <h3>Condomino</h3>
                <img src="../../assets/img/condomino.jpg" alt="logo">

                <button>
                    <ion-icon name="add-outline"></ion-icon>
                </button>

            </div>
            <div class="contenido">
                <h3>Vigilante</h3>
                <img src="../../assets/img/vigilante.jpg" alt="logo">

                <button>
                    <ion-icon name="add-outline"></ion-icon>
                </button>

            </div>

        </div>
    </div>


</ion-content>

<ion-footer class="ion-no-border">

    <p><u>TOP-HOUSE</u></p>

</ion-footer>