<ion-header>
    <ion-toolbar style="background-color: #0F0D0D;">
        <ion-buttons slot="start">
            <ion-button [routerLink]="[ '/login' ]">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cont">
        <div class="titulo">
            <h1>Verifica tu Email</h1>
        </div>
        <p>Se ha enviado el correo de verificación al correo registrado, por favor revisa tu bandeja de entrada o la carpeta de correo no deseado.</p>
    </div>

</ion-content>

<ion-footer class="ion-no-border">

    <p><u>TOP-HOUSE</u></p>

</ion-footer>