<ion-header>
    <ion-toolbar style="background-color: #0F0D0D;">
        <ion-buttons slot="start">
            <ion-button [routerLink]="[ '/login' ]">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cont">
        <div class="titulo">
            <h1>Verifica tu Email</h1>
        </div>
        <p class="msg">Se ha enviado el link de verificación al correo <strong>EMAIL</strong></p>
        <p class="msg"> <b>Por favor revise su bandeja de entrada o su carpeta de correo no deseado.</b> </p>
    </div>

</ion-content>

<ion-footer class="ion-no-border">

    <p class="barra"><u>TOP-HOUSE</u></p>

</ion-footer>