<ion-header>
    <ion-toolbar style="background-color: #0F0D0D;">
        <ion-buttons slot="start">
            <ion-button [routerLink]="[ '/folder' ]">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="maincont">
        <div class="saludo">

            <img src="../../assets/img/avisos.jpg" alt="logo">
            <h1>Avisos</h1>
        </div>
        <br>
        <div>
            <ion-list>
                <div class="acciones">
                    <h3>Reporte de Gastos</h3>
                    <a href=""><img class="doc" src="../../assets/img/excel.png" alt="excel"></a>
                </div>
                <hr>
                <div class="acciones">
                    <h3>Nuevos Proyectos</h3>
                    <a href=""><img class="doc" src="../../assets/img/powerpoint.png" alt="excel"></a>
                </div>
                <hr>
                <div class="acciones">
                    <h3>Comunicado Condominos</h3>
                    <a href=""><img class="doc" src="../../assets/img/word.png" alt="excel"></a>
                </div>
            </ion-list>

        </div>
    </div>


</ion-content>

<ion-footer class="ion-no-border">

    <p class="barra"><u>TOP-HOUSE</u></p>

</ion-footer>