<ion-header>
    <ion-toolbar style="background-color: #0F0D0D;">
        <ion-buttons slot="start">
            <ion-button [routerLink]="[ '/portada' ]">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="cont">
        <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="mail" name="mail" id="email" #email required></ion-input>
        </ion-item>
        <br><br><br>
        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <div class="password">
                <ion-input type="password" name="password" id="password" #password required></ion-input>
                <ion-icon name="eye" onclick="mostrarContrasena()"></ion-icon>
            </div>
        </ion-item>
        <br><br>
        <ion-label><a [routerLink]="[ '/reset-psw' ]">¿Olvidste tu contraseña?</a></ion-label>

        <br>
        <button type="submit" (click)="onLogin(email, password)">Continuar</button>
    </div>
    <!-- <br>
      Opción para habilitar el inicio de sesión 
            con uso de una cuenta de Google
    <div class="google">
        <div class="googleBox">
            <button expand="block" type="submit" (click)="onLoginGoogle(email, password)">Iniciar sesión con Google</button>
            <ion-icon name="logo-google"></ion-icon>
        </div>


    </div>
-->
</ion-content>

<ion-footer class="ion-no-border">

    <p><u>TOP-HOUSE</u></p>

</ion-footer>