<ion-header>
    <ion-toolbar style="background-color: #0F0D0D;">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="maincont">
        <div class="saludo">

            <img src="../../assets/img/cuotas.jpg" alt="logo">
            <h1>Cuotas</h1>
        </div>
        <br>
        <div class="acciones">
            <ion-list>
                <ion-item>
                    <ion-label>Julio 2021:</ion-label>
                    <ion-label>Estado: <a class="pendiente">Pendiente</a></ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Junio 2021:</ion-label>
                    <ion-label>Estado: <a>Pagado</a></ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Mayo 2021:</ion-label>
                    <ion-label>Estado: <a>Pagado</a></ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Abril 2021:</ion-label>
                    <ion-label>Estado: <a>Pagado</a> </ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Marzo 2021:</ion-label>
                    <ion-label>Estado: <a>Pagado</a></ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Febrero 2021:</ion-label>
                    <ion-label>Estado: <a>Pagado</a></ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Enero 2021:</ion-label>
                    <ion-label>Estado: <a>Pagado</a></ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Diciembre 2020:</ion-label>
                    <ion-label>Estado: <a>Pagado</a></ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Noviembre 2020:</ion-label>
                    <ion-label>Estado: <a>Pagado</a></ion-label>
                </ion-item>
                <br>
                <ion-item>
                    <ion-label>Octubre 2020:</ion-label>
                    <ion-label>Estado: <a>Pagado</a></ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>


</ion-content>

<ion-footer class="ion-no-border">

    <p><u>TOP-HOUSE</u></p>

</ion-footer>